@model SharedWorkplace.Models.DeskViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Desk</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateDesk">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DeskName" class="control-label"></label>
                <input asp-for="DeskName" class="form-control" />
                <h3>Devices </h3>
                @foreach (var device in ViewBag.Devices)
                {
                    <div>
                        <label asp-action asp-for="Devices" class="control-label">
                            @device.DeviceName
                            <input name="selectedItems" value="@device.Id" type="checkbox" />
                        </label><br>
                    </div>
                }
                <span asp-validation-for="DeskName"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="UserDesk">Back to List</a>
</div>

