@model SharedWorkplace.Models.Device

@{
    ViewData["Title"] = "CreateDevice";
}
<environment>
    <link href="~/css/details.css" rel="stylesheet" />
</environment>
<h1>CreateDevice</h1>

<h4>Existing Devices</h4>
<hr />
<div class="row">
    <div class="col-md-10">
        <form asp-action="CreateDevice">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div>
                @foreach (var item in ViewBag.Devices)
                {
                    <p>
                        @item.DeviceName
                        <a asp-action="DeleteDevice" asp-route-id="@item.Id">Delete</a>
                    </p> 
                 }
            </div>
            <h1>Create a new Device</h1>
            <hr />
            <div class="form-group">
                <label asp-for="DeviceName" class="input-text"></label>
                <input asp-for="DeviceName" class="input" />
                <span asp-validation-for="DeviceName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="UserDesk">Back to List</a>
</div>

