@model ICollection<SharedWorkplace.Models.Device>

@{
    ViewData["Title"] = "DeviceList";
}
<h1>DeviceList</h1>
@if (User.IsInRole("admin"))
    {
        <p>
            <a asp-action="Add">Add New</a>
        </p>
    }
<table class="table">
    <thead>
        <tr>
            <th>
                DeviceName
            </th>
            <th>Command</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DeviceName)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.DeviceName">Details</a> |
                    @if (User.IsInRole("admin"))
                    {
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>